{% extends "template.njk" %}

{% block head %}
  <link href="/govuk-frontend/all.css" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}
  dragon fire test page 2
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Dragon fire test page 2",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block content %}

  {% from "components/error-summary/macro.njk" import govukErrorSummary %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [{
      text: "The date your passport was issued must be in the past",
      href: "#passport-issued-error"
    }, {
      text: "Enter a postcode, like AA1 1AA",
      href: "#postcode-error"
    }]
  }) }}

  {% from "components/inset-text/macro.njk" import govukInsetText %}
  {{ govukInsetText({
    text: "It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application."
  }) }}
  
  {% from "components/panel/macro.njk" import govukPanel %}
  {{ govukPanel({
    titleText: "Application complete",
    html: "Your reference number<br><strong>HDJ2123F</strong>"
  }) }}

  {% from "components/radios/macro.njk" import govukRadios %}
  {% from "components/input/macro.njk" import govukInput %}
  {{ govukRadios({
    idPrefix: "where-do-you-live",
    name: "where-do-you-live",
    fieldset: {
      legend: {
        text: "Where do you live?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Radio group hint text"
    },
    items: [{
      value: "england",
      text: "England",
      hint: {
        text: "Radio hint text"
      }
    }, {
      value: "scotland",
      text: "Scotland"
    }, {
      value: "wales",
      text: "Wales"
    }, {
      value: "northern-ireland",
      text: "Northern Ireland"
    }, {
      divider: "or"
    }, {
      value: "abroad",
      text: "I am a British citizen living abroad",
      conditional: {
        html: govukInput({
          id: "contact-by-text",
          name: "contact-by-text",
          type: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile phone number"
          }
        })
      }
    }]
  }) }}

  {% from "components/select/macro.njk" import govukSelect %}
  {{ govukSelect({
    id: "sort",
    name: "sort",
    label: {
      text: "Sort by"
    },
    items: [{
      value: "published",
      text: "Recently published"
    }, {
      value: "updated",
      text: "Recently updated",
      selected: true
    }, {
      value: "views",
      text: "Most views"
    }, {
      value: "comments",
      text: "Most comments"
    }]
  }) }}

  {% from "components/summary-list/macro.njk" import govukSummaryList %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Philips"
      },
      actions: {
        items: [{
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }]
      }
    }, {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "5 January 1978"
      },
      actions: {
        items: [{
          href: "#",
          text: "Change",
          visuallyHiddenText: "date of birth"
        }]
      }
    }, {
      key: {
        text: "Contact information"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      },
      actions: {
        items: [{
          href: "#",
          text: "Change",
          visuallyHiddenText: "contact information"
        }]
      }
    }, {
      key: {
        text: "Contact details"
      },
      value: {
        html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
      },
      actions: {
        items: [{
          href: "#",
          text: "Change",
          visuallyHiddenText: "contact details"
        }]
      }
    }]
  }) }}
{% endblock %}
