{% extends "template.njk" %}

{% block head %}
  <link href="/govuk-frontend/all.css" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}
  dragon fire test page 3
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Dragon fire test page 3",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block content %}
  {% from "components/table/macro.njk" import govukTable %}

  {{ govukTable({
    caption: "Dates and amounts",
    firstCellIsHeader: true,
    head: [{
      text: "Date"
    }, {
      text: "Amount"
    }],
    rows: [
      [{
        text: "First 6 weeks"
      }, {
        text: "£109.80 per week"
      }],
      [{
        text: "Next 33 weeks"
      }, {
        text: "£109.80 per week"
      }],
      [{
        text: "Total estimated pay"
      }, {
        text: "£4,282.20"
      }]
    ]
  }) }}

  {% from "components/tabs/macro.njk" import govukTabs %}
  {{ govukTabs({
    items: [
      {
        label: "Past day",
        id: "past-day",
        panel: {
          html: '<h2 class="govuk-heading-l">Past day tab</h2>'
        }
      },
      {
        label: "Past week",
        id: "past-week",
        panel: {
          html: '<h2 class="govuk-heading-l">Past week tab</h2>'
        }
      },
      {
        label: "Past month",
        id: "past-month",
        panel: {
          html: '<h2 class="govuk-heading-l">Past month tab</h2>'
        }
      },
      {
        label: "Past year",
        id: "past-year",
        panel: {
          html: '<h2 class="govuk-heading-l">Past year tab</h2>'
        }
      }
    ]
  }) }}

  {% from "components/input/macro.njk" import govukInput %}
  {{ govukInput({
    label: {
      text: "Event name"
    },
    id: "event-name",
    name: "event-name",
    hint: {
      text: "The name you’ll use on promotional material."
    },
    errorMessage: {
      text: "Enter an event name"
    }
  }) }}

  {% from "components/textarea/macro.njk" import govukTextarea %}
  {{ govukTextarea({
    name: "more-detail",
    id: "more-detail",
    label: {
      text: "Can you provide more detail?"
    },
    hint: {
      text: "Do not include personal or financial information, like your National Insurance number or credit card details."
    },
    errorMessage: {
      text: "Enter more detail"
    }
  }) }}

  {% from "components/warning-text/macro.njk" import govukWarningText %}
  {{ govukWarningText({
    text: "You can be fined up to £5,000 if you do not register.",
    iconFallbackText: "Warning"
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk-frontend/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()
  </script>
{% endblock %}
