{% extends "template.njk" %}

{% block head %}
  <link href="/govuk-frontend/all.css" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}
  dragon fire test page
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Dragon fire test page",
    serviceUrl: "#",
    navigation: [{
      href: "#1",
      text: "Navigation item 1",
      active: true
    }, {
      href: "#2",
      text: "Navigation item 2"
    }, {
      href: "#3",
      text: "Navigation item 3"
    }]
  }) }}
{% endblock %}

{% block beforeContent %}
  {% from "components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Trail of",
      href: "#"
    }, {
      text: "breadcrumbs"
    }]
  }) }}

  {% from "components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Heading</h1>

  <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae consequat odio. Vestibulum est leo, facilisis at blandit dignissim, malesuada a enim. Donec eleifend ut dui pellentesque ultrices.</p>

  <span class="govuk-caption-l">Caption</span>
  <h2 class="govuk-heading-l">Heading with caption</h2>

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Nested caption</span>
    Heading with nested caption
  </h1>

  <a href="#" class="govuk-link">link</a>

  <p class="govuk-body"><a href="#" class="govuk-link">bigger link</a></p>
  
  <ul class="govuk-list govuk-list--number">
    <li>Numbered</li>
    <li>list of</li>
    <li>things</li>
  </ul>

  <ul class="govuk-list">
    <li><a class="govuk-link" href="#">links in</a></li>
    <li><a class="govuk-link" href="#">a list</a></li>
  </ul>

  {% from "components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "button"
  }) }}

  {% from "components/character-count/macro.njk" import govukCharacterCount %}
  {{ govukCharacterCount({
    name: "with-hint",
    id: "with-hint",
    maxlength: 200,
    label: {
      text: "Can you provide more detail?"
    },
    hint: {
      text: "Do not include personal or financial information like your National Insurance number or credit card details."
    }
  }) }}

  {% from "components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "components/input/macro.njk" import govukInput %}
  {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Which types of waste do you transport?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [{
      value: "carcasses",
      text: "Waste from animal carcasses"
    }, {
      value: "british",
      text: "British",
      hint: {
        text: "including English, Scottish, Welsh and Northern Irish"
      }
    }, {
      value: "text message",
      text: "Text message",
      conditional: {
        html: govukInput({
          id: "contact-by-text",
          name: "contact-by-text",
          type: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile phone number"
          }
        })
      }
    }]
  }) }}
  
  {% from "components/date-input/macro.njk" import govukDateInput %}
  {{ govukDateInput({
    id: "dob",
    namePrefix: "dob",
    fieldset: {
      legend: {
        text: "What is your date of birth?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "For example, 31 3 1980"
    },
    items: [{
      name: "day",
      classes: "govuk-input--width-2",
      autocomplete: "bday-day"
    }, {
      name: "month",
      classes: "govuk-input--width-2",
      autocomplete: "bday-month"
    }, {
      name: "year",
      classes: "govuk-input--width-4",
      autocomplete: "bday-year"
    }]
  }) }}

  {% from "components/details/macro.njk" import govukDetails %}
  {{ govukDetails({
    summaryText: "Help with nationality",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}


  {% from "components/input/macro.njk" import govukInput %}
  {% from "components/fieldset/macro.njk" import govukFieldset %}
  {% call govukFieldset({
    legend: {
      text: "What is your address?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      id: "address-line-1",
      name: "address-line-1"
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
      },
      id: "address-line-2",
      name: "address-line-2"
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-town",
      name: "address-town"
    }) }}

    {{ govukInput({
      label: {
        text: "County"
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-county",
      name: "address-county"
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-10",
      id: "address-postcode",
      name: "address-postcode"
    }) }}

  {% endcall %}

  {% from "components/file-upload/macro.njk" import govukFileUpload %}
  {{ govukFileUpload({
    id: "file-upload-1",
    name: "file-upload-1",
    label: {
      text: "Upload a file"
    }
  }) }}

  
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk-frontend/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()
  </script>
{% endblock %}

{% block footer %}
  {% from "components/footer/macro.njk" import govukFooter %}
  {{ govukFooter({
    navigation: [{
      title: "Services and information",
      columns: 2,
      items: [{
        href: "#",
        text: "Benefits"
      }]
    }, {
      title: "Departments and policy",
      items: [{
        href: "#",
        text: "How government works"
      }]
    }],
    meta: {
      items: [{
        href: "#",
        text: "Help"
      }, {
        href: "#",
        text: "Cookies"
      }, {
        href: "#",
        text: "Contact"
      }],
      html: 'Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a>'
    }
  }) }}  
{% endblock %}